<div>
    <h1></h1>
    <div class="game-container">
        <app-board [grid]="playerGrid" [boardOwner]="'player'" [selectedShip]="selectedShip" [shipDirection]="shipDirection" class="player-board"></app-board>
        <div class="seperator">|</div>
        <app-board [grid]="opponentGrid" [boardOwner]="'opponent'" [selectedShip]="selectedShip" [shipDirection]="shipDirection" class="opponent-board"></app-board>
    </div>

    <section class="button-section">
        <button *ngFor="let ship of ships" mat-raised-button color="primary" (click)="shipSelect(ship)">Place {{ capShip(ship) }}</button>
        {{ capShip(selectedShip) }} direction:
        <mat-radio-group [(ngModel)]="shipDirection">
            <mat-radio-button value="vertical">vertical</mat-radio-button>
            <mat-radio-button value="horizontal">horizontal</mat-radio-button>
        </mat-radio-group>
    </section>
</div>